body {
    background-color: black;
    margin: 0;
    /* background-color: white; */
    margin-top: 0;
}
/* header {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
} */

.generalnavbar {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.topnav {
    background-color: black;
    opacity: 1;
    overflow: hidden;
    width: 60%;
    width: 1500px;
    /* height: 950px; */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a:focus {
    background-color: rgba(14, 194, 226, 255);

    color: white;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registernav {
    position: absolute;

    display: flex;
    flex-direction: column;
    background-color: black;
    width: 895px;
    height: 500px;
    top: 300px;
    opacity: 0.7;
    /* border-radius: 70px; */

    /* justify-content: ; */
    /* align-items: flex-end; */
}
.registernav:hover {
    background-color: black;
    color: white;
    opacity: 0.8;
    /* width: 100%; */
}

.icecream {
    height: 100%;
    width: 80%;

    object-fit: cover;
    overflow: hidden;
}

.welcomepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
input {
    z-index: 5;
    height: 30px;
    width: 200px;
    margin: 20px;
}
.resetlink {
    z-index: 6;

    text-decoration: none;
    font-size: larger;
    margin-top: 40px;
    color: white;
}
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
.btn {
    cursor: pointer;
    background: transparent;
    border: 1px solid #91c9ff;
    outline: none;
    transition: 1s ease-in-out;
    height: 50px;
    width: 150px;
    margin: 20px;
    border-radius: 10px;
    background-color: black;
    color: rgba(14, 194, 226, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 49%;
    top: 86%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

svg {
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4f95da;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mymap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    border: solid black 1px;
    width: 1499px;
    height: 950px;
    /* width: 60%; */
}
.search {
    position: absolute;
    top: 2.9rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 400px;

    z-index: 10;
}

.uploader {
    background-color: black;
    width: 150px;
    height: 130px;
    position: absolute;
    right: 30px;
    top: 280px;
    justify-content: space-between;
    border: white solid 2px;
}

#uploadInput {
    justify-content: space-between;
    /* width: 130px;
    height: 130px; */
    /* z-index: 11; */
}
.userinput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 130px;
    height: 130px; */
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    /* margin: 20px; */
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    z-index: 11;
    flex-wrap: wrap;
}
.inputfile + label + {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: lightblue;
}

.uploadbutton {
    margin: 0;

    cursor: pointer; /* "hand" cursor */
}

#x {
    cursor: pointer; /* "hand" cursor */
    color: white;
    width: 30px;
    background-color: black;
    justify-self: center;
}

/* ////when suggestion active */
.autocomplete-dropdown-container {
    background-color: #fafafa;
    cursor: pointer;
}
#worldemoji {
    z-index: 10;
    justify-self: left;
    align-self: flex-start;
    margin: 20px;
}

#yourplace {
    height: 50px;
    width: 50px;
    z-index: 8;
    /* position: absolute; */
    top: 57px;
    left: 85%;
    object-fit: cover;
    border: black solid 3px;
    border-radius: 20px;
    cursor: pointer;
    justify-self: self-end;
    align-items: flex-end;
}
.locate {
    /* top: 2.9rem; */

    /* height: 50px;
    width: 50px; */
    top: 52px;
    left: 85%;
    position: absolute;
    border: black solid 3px;
    border-radius: 20px;
    justify-self: self-end;
    align-items: flex-end;
}
.searchbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: column;
    flex-direction: row;
    background-color: black;
    /* justify-content: ; */
}
/* #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* #wonderlogo {
    width: 1000px;
    height: 800px;
    object-fit: contain;
}
#pagelogoleft {
    width: 200px;
    height: 400px;
    position: absolute;
    left: 10px;
    object-fit: contain;
} */
/* #pagelogoright {
    width: 200px;
    height: 400px;
    position: absolute;
    right: 10px;
    object-fit: contain;
    transform: scaleX(-1);
    transform: rotate(180deg) scaleX(-1);
} */
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
}
h2 {
    color: white;
}
.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.resetbttn {
    height: 40px;
    width: 130px;
    border-radius: 20px;
}
.app {
    display: flex;
    flex-direction: column;
}

/* #pagelogo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 20px;
    object-fit: contain;
    top: 0;
} */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .bigpic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: dotted #deaaff 5px;
    border-radius: 80%;
} */
.chatimage {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: dotted #deaaff 5px;
    border-radius: 80%;
}

.chatpersona {
    width: 700px;
    background-color: #c0fdff;
    display: flex;
    height: 80px;
    border: #deaaff 3px solid;
    /* flex-direction: column; */
}

textarea {
    width: 300px;
    height: 80px;
}
.chat-container {
    background: white;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    margin-top: 40px;
}
/* #profilepic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: dotted #deaaff 5px;
    border-radius: 80%;
}
#profilepic {
    height: 150px;
    width: 200px;
    object-fit: cover;
} */
.minipic {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 50px;
    object-fit: cover;
    top: 25px;
    /* border: dotted #deaaff 5px; */
    border-radius: 100%;
    border: solid black 1px;
}
.usernames {
    position: absolute;
    right: 35px;
    top: 160px;
    text-decoration: none;

    color: white;
}
/* .userpic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    width: 1000px;
} */
#logout {
    position: absolute;
    right: 15px;
    top: 180px;
    text-decoration: none;
    z-index: 4;
    color: white;
}

.userprofile {
    background-color: #ffcbf2;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #91c9ff;
    margin-top: 10px;
    padding: 20px;
}
.bioeditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-top: 10px;
    padding: 20px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 2px; */
    color: black;
}

.biotexthere {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 200px;
    height: 60px;
    color: black;
}
.biobutton {
    margin-top: 10px;
}

#deletemarker {
}
.infowindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: black;
}

#markerlink {
    font-size: larger;
    color: rgba(14, 194, 226, 255);
}

#savebtn {
    width: 60px;
    height: 20px;
    border-radius: 3px;
}
.biotext {
    height: 200px;
    width: 400px;
    color: green;
    margin: 10px;
}
.photocontainer {
    width: 2000px;
    height: 2000px;
    background-color: turquoise;
}
.usersearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userdivinsearch {
    border: cornsilk dotted 3px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.friendsList {
    display: flex;
    justify-content: center;
}
.wannabefriendsList {
    display: flex;
    justify-content: center;
}
.wannbeFriends {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.allmyFriends {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#friend {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.friendslink {
    /* position: absolute; */
    top: 13%;
    margin: 3px;
    text-decoration: none;
    color: cornsilk;
    margin: 10px;
}
.findpeoplelink {
    /* position: absolute; */
    top: 17%;
    margin: 3px;
    text-decoration: none;
    color: cornsilk;
    margin: 10px;
}
.chatlink {
    top: 20%;
    margin: 3px;
    text-decoration: none;
    color: cornsilk;
    margin: 10px;
}
#backtoprofile {
    /* position: absolute; */
    top: 16%;
    /* margin-bottom: 5px; */
    margin: 10px;
    text-decoration: none;
    color: cornsilk;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #ffcbf2;
    height: 70px;
    width: 500px;
    position: absolute;
    top: 12%;
    border-radius: 8px;
    border: 3px black;
}

.chat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.friendsoffriends-container {
    background-color: #c0fdff;
    height: 300px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    /* flex-direction: column;
    
    align-items: center; */
}
.friendOfFriend {
    justify-self: end;
    align-items: flex-end;
}
